:root {
  --luckBackground: #fdfdfd;
  --punishBackground: #1b2028;
  --punishlight: #5f6268;
  --heading-font: "Barlow Condensed", sans-serif;
  --body-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--body-font);
  transition: background-color 0.5s ease, color 0.5s ease;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto repeat(3, minmax(20vh, 1fr)) auto auto;

  grid-template-areas:
    "header header header"
    "wheel-container wheel-container wheel-container"
    "wheel-container wheel-container wheel-container"
    "wheel-container wheel-container wheel-container"
    "button button button" /* Button above the name input */
    "name-input name-input name-input"; /* Name input below the button */
  justify-content: center;
  align-items: center;
  background-color: var(--luckBackground);
  color: var(--punishBackground);
}

/* Header styles */

.title {
  display: flex;
  align-items: center;
  height: 64px;
}

.logo {
  max-height: 100%;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 95%; /* Make the header stretch across the page */
  margin: 0 auto;
}

h1 {
  font-family: var(--heading-font);
  font-size: 1.65rem;
  text-align: start;
  margin-left: 1rem;
}

.theme-toggle {
  display: flex;
  align-items: center;
}

.theme-toggle label {
  color: var(--punishlight);
  margin-right: 1rem;
  font-size: 1rem;
  max-width: 50px;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--punishlight);
}

input {
  accent-color: #f22d3d;
}

/* wheel */

.wheel-container {
  grid-area: wheel-container;
  justify-self: center; /* Horizontally center in the grid */
  align-self: center; /* Vertically center in the grid */
  display: flex; /* Use Flexbox to center content inside the container */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  width: 90%;
  height: 90%;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
}

.center-image {
  position: absolute; /* Position these elements relative to wheel-container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center elements inside the container */
  z-index: 3; /* Ensure these elements are on top of the wheel */
  max-width: 5rem;
}

.center-image-punish {
  display: none;
  position: absolute; /* Position these elements relative to wheel-container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center elements inside the container */
  z-index: 3; /* Ensure these elements are on top of the wheel */
  max-width: 5rem;
}

.arrow {
  position: absolute; /* Position these elements relative to wheel-container */
  top: 50%;
  left: calc(50% + 30px);
  transform: translate(-50%, -50%); /* Center elements inside the container */
  z-index: 2; /* Make sure the arrow is above the center images */
}
#wheelCanvas {
  aspect-ratio: 1 / 1; /* Ensure it remains a perfect square */
  margin: auto;
}

.name-input {
  grid-area: name-input;
  justify-self: center;
  align-self: center;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  height: 60%;
}

.name-input h2 {
  font-size: 1.25rem;
  font-family: var(--heading-font);
  color: var(--punishlight);
  margin-left: 0.25rem;
  padding-bottom: 0.25rem;
}

#namesInput {
  transition: background-color 0.5s ease, color 0.5s ease;
  width: 100%;
  height: 100%;
  min-height: 250px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  margin-bottom: 2rem;
  align-self: stretch;
}

/*modal */

.modal {
  display: none;
  position: fixed;
  padding-top: 20vh;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.modal-content {
  background-color: var(--luckBackground);
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: clamp(300px, 50%, 600px); /* Responsive modal size */
  text-align: center;
}

.modal p {
  color: var(--punishlight);
}

#modalButton {
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 8px 20px;
  font-size: 1.5rem;
  color: var(--punishBackground);
  background-color: var(--luckBackground);
  border: 1px solid var(--punishBackground);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#modalButton:hover {
  color: var(--punishlight);
  border: 1px solid var(--punishlight);
  transform: scale(1.15);
}

#modalButton:active {
  background-color: var(--luckBackground);
  transform: scale(1);
}

#removeSelectedButton {
  margin-top: 1.5rem;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: var(--punishBackground);
  color: var(--luckBackground);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#removeSelectedButton:hover {
  background-color: var(--punishlight);
  transform: scale(1.15);
}

#removeSelectedButton:active {
  background-color: var(--punishBackground);
  transform: scale(1);
}

#winnerName {
  font-family: var(--heading-font);
  font-size: 3.5rem;
  color: var(--punishBackground);
}

/* Spin Button */
.button {
  grid-area: button;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%; /* Make sure the button takes full row width */
}

#spinButton {
  font-family: var(--heading-font);
  padding: 10px 25px 12px 25px;
  font-size: 1.5rem;
  background-color: var(--punishBackground);
  color: var(--luckBackground);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#spinButton:hover {
  background-color: var(--punishlight);
  transform: scale(1.15);
}

#spinButton:active {
  background-color: var(--punishBackground);
  transform: scale(1);
}

/* PUNISH MODE */

body.punish-mode {
  background-color: var(--punishBackground);
  color: var(--luckBackground);
  transition: background-color 2.5s ease, color 2.5s ease;
}

body.punish-mode #spinButton {
  background-color: var(--luckBackground);
  color: var(--punishBackground);
}
/* new method */
body.punish-mode .center-image {
  display: none;
}

body.punish-mode .center-image-punish {
  display: inline;
}

body.punish-mode #namesInput {
  transition: background-color 2.5s ease, color 2.5s ease;
  background-color: var(--punishBackground);
  color: #f22d3d;
  border: 1px solid var(--punishlight);
}

body.punish-mode .theme-toggle label {
  color: var(--luckBackground);
}

@media (min-width: 700px) {
  body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto repeat(3, 1fr) auto auto; /* Ensure rows are correctly ordered */
    grid-template-areas:
      "header header header header header"
      "wheel-container wheel-container wheel-container name-input name-input"
      "wheel-container wheel-container wheel-container name-input name-input"
      "wheel-container wheel-container wheel-container name-input name-input"
      " . button button button ."; /* Button above the name input */
    max-height: 95vh;
    height: 100vh; /* Ensure the grid spans the entire viewport height */
  }
  h1 {
    font-size: 2.5rem;
  }

  .theme-toggle label {
    margin-right: 0.75rem;
    font-size: 1.25rem;
    max-width: 150px;
  }

  .modal {
    padding-top: 15vh;
  }

  .button {
    padding-bottom: 5vh;
  }

  .center-image,
  .center-image-punish {
    max-width: 9rem;
  }

  .arrow {
    left: calc(50% + 55px);
  }

  #wheelCanvas {
    width: clamp(
      300px,
      45vw,
      700px
    ); /* Responsive width with a minimum of 300px, 80% of the viewport width as the ideal size, and a maximum of 700px */
    height: clamp(
      300px,
      45vw,
      700px
    ); /* Matches width for square aspect ratio */
    width: 100%;
    height: 100%;
  }

  .name-input h2 {
    font-size: 2rem;
  }

  #namesInput {
    font-size: 1.5rem;
  }
  #modalButton {
    display: inline-block;
    margin-right: 1.5rem;
  }
}
